
body{
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(3, 3, 181);
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1{
font-size: 30px;
color: white;
padding-right: 10px;
}

h1:hover{
    color: rgb(255, 221, 0);
}

h2{
    text-align: center;
}

#playerMove{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color:rgb(255, 221, 0);
}
#minion{
    width: 60px;
    height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#minion:hover{
    width: 200px;
    height: 220px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#board{

    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
 
}


.box{
    background: rgb(255, 221, 0);
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

button{
    color: rgb(3, 3, 181);
    border-radius: 8px;
   margin: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: white;
   border-color: rgb(255, 221, 0);
}

   